.header-sidebar__linklist-button:hover,
.header-sidebar__footer a:hover,
a:hover {
  color: var(--link-hover-color, var(--color-text));
}

.footer a {
  background: none !important;
}

.richtext-w-heading-split-50 .container--max-page {
  margin: 0;
}
.richtext-w-heading-split-50 .column-right {
  margin-left: auto;
  margin-right: 0;
}


@media screen and (max-width: 767px) {
  .mobile-content-over-media--xs {
    --content-over-media-height: clamp(15rem, 65vw, 25rem) !important;
  }
  
  .mobile-content-over-media--sm {
    --content-over-media-height: clamp(20rem, 85vw, 32rem) !important;
  }
  
  .mobile-content-over-media--md {
    --content-over-media-height: clamp(25rem, 100vw, 36rem) !important;
  }
  
  .mobile-content-over-media--lg {
    --content-over-media-height: clamp(30rem, 125vw, 42rem) !important;
  }
  
  .mobile-content-over-media--fill {
    --content-over-media-height: calc(100vh - var(--sticky-area-height)) !important;
  }
  
  .shopify-section:first-child .mobile-content-over--fill {
    --content-over-media-height: calc(100vh - (var(--announcement-bar-height, 0px)  + var(--header-height, 0px))) !important;
  }  

  .mobile-content-over-media--auto {
    --content-over-media-height: auto !important;
  }
}

.pswp img {
  opacity: 1 !important;
}

.content-row.content-25,
.content-row.empty-25 { width: 25%; }
.content-row.content-33,
.content-row.empty-33 { width: 33%; }
.content-row.content-50,
.content-row.empty-50 { width: 50%; }
.content-row.content-75,
.content-row.empty-75 { width: 75%; }
.content-row.content-65 { width: 62.5%; }
.content-row.content-two-thirds,
.content-row.empty-two-thirds { width: 66.66%; }
.content-row.content-one-eighth,
.content-row.empty-one-eighth { width: 12.5%; }
.content-row.content-three-eighths,
.content-row.empty-three-eighths { width: 37.5%; }
.content-row.content-five-eighths,
.content-row.empty-five-eighths { width: 62.5%; }
.content-row.content-100 { width: 100%; }

.content-row.align-left {
  margin-left: 0;
  margin-right: auto;
}
.content-row.align-center {
  margin-left: auto;
  margin-right: auto;
}
.content-row.align-right {
  margin-left: auto;
  margin-right: 0;
}

.dac-custom-row .play-button svg {
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 767px) {
  .shopify-section--video .content-row.content-25,
  .shopify-section--video .content-row.empty-25 { width: 100%; }
  .shopify-section--video .content-row.content-33,
  .shopify-section--video .content-row.empty-33 { width: 100%; }
  .shopify-section--video .content-row.content-50,
  .shopify-section--video .content-row.empty-50 { width: 100%; }
  .shopify-section--video .content-row.content-75,
  .shopify-section--video .content-row.empty-75 { width: 100%; }
}

@media screen and (max-width: 600px) {
  .dac--title-breadcrumbs .breadcrumbs__list .breadcrumbs__item:last-of-type {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;    
  }    
  .dac-custom-row .play-button svg {
    width: 32px;
    height: 32px;
  }  
}

@media screen and (min-width: 1000px) {
  .bio-richtext-links .prose {
    gap: 0;
  }

  .bio-richtext-links .container-main {
    position: relative;
  }
  .bio-richtext-links .prose .column-left {
    position: absolute;
    left: 0;
  }
  .bio-richtext-links .prose .column-right {
    width: 100%;
    max-width: none !important;
  }
  .bio-richtext-links .prose .block-item {
    max-width: var(--content-max-width);
    margin: 0 auto;
  }

  .richtext-w-heading-split-50 .container--max-page {
    margin: 0;
  }
  .richtext-w-heading-split-50 .column-right {
    margin-left: auto;
    margin-right: 0;
  }
}

.shopify-section--slideshow .tap-area {
  width: 40px;
  height: 10px;
  background: none;
}

.shopify-section--slideshow .page-dots {
  bottom: 3.25rem;
}
.shopify-section--slideshow .page-dots button {
  opacity: 0.4;
  transition: opacity 0.25s;
}
.shopify-section--slideshow .page-dots > *[aria-current="true"] {
  opacity: 1;
} 

.shopify-section--slideshow .tap-area:before {
  top: -.5rem;
  right: -.5rem;
  bottom: -.5rem;
  left: -.5rem;
}
.shopify-section--slideshow .tap-area:after {
  display: none;
}
